{% extends "CCPlaysureBundle::layout.html.twig" %}


{% block content %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
<div class="card">
     Hi Super Admin</div>
 {% endif %}

 {% if is_granted('ROLE_USER') %}
 <div class="card">
     Hi User
</div> {% endif %}

 {% if is_granted('ROLE_ADMIN') %}
 <div class="card">
     Hi Admin
</div> {% endif %}




	{% if games is defined %}
		{% for game in games %}
		    	<div class="card">
		    		<h2 class="">{{ game.teamA }} VS {{ game.teamB }}</h2>
		    		<p class="" ></p>
		    	</div>
		{% endfor %}
	{% endif %}

{% endblock %}