{% extends "CCPlaysureBundle::layout.html.twig" %}


{% block content %}
	
	<h1>Hello world !</h1>


	{% if games is defined %}
		{% for game in games %}
		    	<div class="card">
		    		<h2 class="">{{ game.teamA }} VS {{ game.teamB }}</h2>
		    		<p class="" ></p>
		    	</div>
		{% endfor %}
	{% endif %}

{% endblock %}