


@font-face {
    font-family: BebasNeue;
    src: url(../images/BebasNeue.otf);
}

body {
    font-family: 'BebasNeue', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/*a:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=39702);
}*/
#content {
    width: 100%;
}
.clear {
    clear: both;
}
body, #content {
    height: 100%;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}




/*          Header            */
#header {
    width: 100%;
    height: 80px;
    background-color: #fff;
}
#header h1, #header h1 a {
    color: #fff;
    padding: 0px;
    margin: 24px 4% -10px;
    text-decoration: none;
}
#header nav ul#userNav {
    float: right;
    margin-right: 100px;
    position: relative;
    top: -41px;
}
#header nav ul#userNav li {
    display: inline-block;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 10px 28px;
    background-size: 20px;

}
#header nav ul#userNav li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #111;
    text-decoration: none;
}
#header nav ul#userNav li.user {
    background-image: url('../images/user.png');

}
#header nav ul#userNav li.logout, #header nav ul#userNav li.register  {
    background-image: url('../images/locked.png');
    background-size: 17px;

}







 nav ul#mainNav {
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #373da0; 

}
 nav ul#mainNav li {
    display: inline-block;
    width: 24%;
    text-align: center;
    padding: 0;
}
 nav ul#mainNav li a {
    color: #FFF;
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    padding: 13px 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #373da0;   

    position: relative;
    top: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    --webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
 nav ul#mainNav li a:active, nav ul#mainNav li a:hover {
    -webkit-box-shadow: 0 5px 10px 0 #141414;
    box-shadow: 0 5px 10px 0 #141414;
    z-index: 99;
    top: -3px;
}




.slider {
    height: 300px;
    width: 100%;
    position: relative;
}
.slider img.bcg {
    height: 300px;
    width: 1280px;
    position: absolute;
}

.slider img.player {
    z-index: 5;
    position: relative;
    left: 0%;
}
.sliderText {
    position: absolute;
    right: 15%;
    top: 64px; 
    color: #fff;
    text-align: center;
}





.expertText {
    position: absolute;
    right: 15%;
    top: 60px; 
    color: #fff;
    text-align: center;
}
.expertName {
    bottom: -9px;
    left: 5%;
    position: absolute;
    text-align: center;
    z-index: 5;
}
.expertName a {
    color: #fff;
}
.gameText {
    position: absolute;
    width: 100%;
    top: 43px; 
    color: #fff;
    text-align: center;
}
.gameText h1 {
    font-size: 3.4em;
    margin-bottom: 0px;
    margin-top: 10px;
    text-transform: uppercase;
}
.parier {
    position: absolute;
    right: 5%;
    top: 63px; 
    text-align: center;
}
.parier a {
    text-decoration: none;
    color: #fff;
    background: -webkit-linear-gradient(90deg, #2a308f 0%, #414ad3 100%);
    background: -moz-linear-gradient(90deg, #2a308f 0%, #414ad3 100%);
    background: -o-linear-gradient(90deg, #2a308f 0%, #414ad3 100%);
    background: -ms-linear-gradient(90deg, #2a308f 0%, #414ad3 100%);
    background: linear-gradient(0deg, #2a308f 0%, #414ad3 100%);
    padding: 20px;
    float: right;
    display: block; 
    text-transform: uppercase;
    position: relative;
    border: none;
    font-size: 2em;
    margin: 0 0 30px;
}
.sliderText h2, .expertText h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0;
}
.fleche h2 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    position: relative;
    left: -63px;
    top: -49px;
    width: 158px;
}

.sliderText h2 strong, .expertText h2 strong{
    text-transform: uppercase;
    font-size: 32px;
}
.sliderText a {
    padding: 15px 40px;
    background-color: #373DA0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 21px;
    position: relative;
    top: 15px;
}
.sliderText a:hover {
    -webkit-box-shadow: 0 5px 5px 0 #141414;
    box-shadow: 0 5px 5px 0 #141414;
    z-index: 99;
    top: 12px; 
}

#sample_goal, .goalProgress, .progressBar {
    border-radius: 20px;
    height: 10px !important;
}
div.progressBar {
    padding: 0!important;
}
p.numberOfActions {
    color: #fff;
    font-size: 1em;
}













#container.home {
    background-image: url(../images/stade.jpg);
}

#container {
    width: 100%;
    max-width: 1280px;
    position: relative;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding-top: 20px;
}
#container .fleche {
    position: relative;
    top: 0;    
    width: 28px;
    display: block;
    margin: 0 auto;
}
#container img.pointe {
    position: absolute;
    top: 0;

}
#container img.trait {
 position: absolute;
 top: 10px;
 background-repeat: repeat-y;
 width: 12px;
 left: 7px;
}



.card {
    width: 30%;
    padding: 15px;
    background-color: #fff;
    margin: 0 74px;
    top: 0;
    z-index: 5;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.card.left {
    
}
.card.right {
    left: 54%;
}
.card+.whiteCircle {
    position: relative;
    top: -128px;
    width: 63px;
    display: block;
    margin: 0 auto;
}
.card+.whiteCircle img {
    width: 100%;

}
.card h2 {
    color:  #2a308f;
    font-size: 35px;
    font-weight: 900;
    margin: 10px;
}
.card a {
    text-decoration: none;
    color: #fff;
    background-color: #373DA0;
    padding: 20px;
    display: block;
    margin-bottom: 15px;
}
.card .time {
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: transparent;
    color: #000;
}
.card .cote {
    width: 70%;
    margin: 0 auto;
}
.card .cote ul {
    text-align: center;
}
.card .cote li {
    list-style-type: none;
    display: inline-block;
    font-size: .8em;
}
.card .cote li+li {
    margin-left: 10px;
}
.card a.bet {
    width: 59%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    --webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 .card a.bet:hover {
    -webkit-box-shadow: 0 5px 5px 0 #141414;
    box-shadow: 0 5px 5px 0 #141414;
    z-index: 99;
    top: -3px;
}


.card:after {
    content: " ";
    position: absolute;
    top: -12px;
    left: -12px;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    width: 103%;
    height: 104%;
    display: block;
    border: 6px solid #fff;

}






.card.title {
    width: 100%;
    max-width: 1280px;
    margin: 0 0 30px 0;
    padding: 20px 0;
    position: relative;

}
.card.title:after {
    display: none;
}






ul {
    padding: 0;
    margin: 0;
}


input {
    padding: 10px;
    display: block;
    width: 215px;
}
button {
    text-decoration: none;
    color: #fff;
    background-color: #F44336;
    padding: 10px;
    float: right;
    display: block; 
    position: relative;
    top: -40px;
    border: none;
}



