{% extends "CCPlaysureBundle::layout.html.twig" %}

{% block title %}Create New Expert{% endblock %}

{% block body %}
	<h1>Create New Expert</h1>
	<div class="postForm">{{ form(form) }}</div>	
{% endblock %}
